{% import 'macros/math.html' as macros_math %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>waynee95 / {% if page.title %}{{ page.title }}{% if section.title %}{{ section.title }}{% endif %}{% endif %}</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/isabelle.css" />
    {% block extra_head %} {% endblock extra_head %}
    {% block math %}{{ macros_math::math() }}{% endblock math %}
  </head>
  <body style="overflow-x: hidden">
    <div class="header">
      <a href="/"><span class="title">&lambda;. waynee95</span></a>
    </div>
    <div class="content">{% block content %} {% endblock %}</div>
    <div class="footer">
      {% if page.path %}
      <p>
        <i>
          If you find a typo, please consider 
          <a href="{{config.extra.github_repo}}/edit/main/content/{{page.slug}}.md">
            opening a pull request
          </a>.
        </i>
      </p>
      {% endif %}
      <p><i>Made with <a href="https://www.getzola.org">zola</a> and ☕</i></p>
    </div>
  </body>
</html>
