<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <title>waynee95 / {% if page.title %}{{ page.title }}{% if section.title %}{{ section.title }}{% endif %}{% endif %}</title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css" />
  <link rel="stylesheet" href="/style.css" />
  {% block extra_head %} {% endblock extra_head %}
</head>
<body style="overflow-x: hidden">
<div class="header">
  <a href="/"><span class="title">&lambda;. waynee95</span></a>
</div>
<div class="content">{% block content %} {% endblock %}</div>
<div class="footer">
  <p><i>Bye bye!</i></p>
</div>
</body>
</html>
