{% extends "base.html" %}
{% block content %}
{{ section.content | safe }}
<h1>archive</h1>
<p class="blurb">
  I might write a blog post.
</p>
{% for post in section.pages %}
  <p>
    <a href="{{ post.permalink }}">{{ post.title }}</a><br>
    <i>
      {{ post.date | date(format="%d %b %Y") }} • {% if post.updated %}updated {{ post.updated | date(format="%d %b %Y") }} • {% endif %}
      {{ post.reading_time }} minute{{ post.reading_time | pluralize }} required
    </i>
  </p>
{% endfor %}
{% endblock %}
